<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><img src="./assets/img/spotify-white-logo.png"
      style="width: 180px;"></a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a
        class="nav-link"
        href="#"
        data-toggle="modal"
        data-target="#modal-playlist"
        (click)="openSavePlaylistModal( savePlaylistModal )"
        >New playlist</a>
      <a
        class="nav-link"
        href="#"
        data-toggle="modal"
        data-target="#modal-usuarios"
        (click)="openUserSelectModal( selectUserModal )">
        Change User
      </a>
    </li>
  </ul>
</nav>



<!--Modal Usuarios-->
<ng-template #selectUserModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Select a user in this window</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalService.dismissAll('btnClose')"></button>
  </div>
  <div class="modal-body">
      <div class="modal-body">
        Seleccione un usuario
        <select class="form-control">
          <option value="1">Usuario 1</option>
          <option value="2">Usuario 2</option>
          <option value="3">Usuario 3</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="selectUser()">Select User</button>
        <button type="button" class="btn btn-outline-danger" (click)="modalService.dismissAll('btnClose')">Close</button>
      </div>
  </div>
</ng-template>

<!--Modal Nueva Lista-->
<ng-template #savePlaylistModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Save New Playlist in this windows</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalService.dismissAll('btnClose')"></button>
  </div>
  <div class="modal-body">
    <form class="form" [formGroup]="playlistForm">
      <label for="tituloPlaylist">Write a Playlist Title:</label>
      <input
        type="text"
        class="form-control"
        id="tituloPlaylist"
        aria-describedby="tituloPlaylisthelp"
        placeholder="Playlist Title"
        formControlName="tituloPlaylist"
        [ngClass]="{'input-error':tituloPlaylist!.invalid && (tituloPlaylist!.dirty || tituloPlaylist!.touched)}"
        >
        <div *ngIf="tituloPlaylist?.invalid && (tituloPlaylist?.dirty || tituloPlaylist?.touched)" class="error">
          <small
            id="emailHelp"
            class="form-text text-danger"
            *ngIf="tituloPlaylist?.errors?.['required']">
              Titulo Playlist Is Required
          </small>
          <small
            id="emailHelp"
            class="form-text text-danger"
            *ngIf="tituloPlaylist?.errors?.['maxlength']">
              Titulo Playlist Max Characters are 80
          </small>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-success"
      (click)="savePlaylist()"
      [disabled]="!playlistForm.valid"
      >Save in list</button>
    <button type="button" class="btn btn-outline-danger" (click)="modalService.dismissAll('btnClose')">Close</button>
  </div>
</ng-template>

