<mat-sidenav-container fullscreen>

  <!--Sidenav con menu hamburguesa oculto-->
  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '300px' }">
    <mat-toolbar>
      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item
        *ngFor="let sidebarItem of sidebarItems"
        [routerLink]="sidebarItem.url"
        (click)="sidenav.toggle()"
      >
        <mat-icon matListItemIcon>
          {{ sidebarItem.icon }}
        </mat-icon>
        {{ sidebarItem.label }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!--Menu Hambuguesa el que no esta oculto y que al dar click muestra el que esta oculto-->
  <mat-toolbar color="warn">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>
        menu
      </mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-button>
      Log Out
    </button>
  </mat-toolbar>

  <!--Renderizado de componentes deacuerdo a rutas-->
  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>


