<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" [routerLink]="['']"><img src="./assets/img/spotify-white-logo.png"
            style="width: 180px;"></a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" data-toggle="modal" (click)="open(nuevaPlaylist)" style="cursor: pointer;">Nueva playlist</a>
            <a class="nav-link" data-toggle="modal" (click)="open(seleccionaUsuario)" style="cursor: pointer;">Cambiar usuario</a>
        </li>
    </ul>
</nav>

<!--Modal Usuarios-->
<ng-template #seleccionaUsuario let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        Seleccione un usuario
        <select class="form-control" #userSelected>
            <option value="">Select User</option>
            <option [value]="user._id" *ngFor="let user of users">{{ user.nombreUsuario }}</option>
        </select>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Close click')">Cerrar</button>
        <button type="button" class="btn btn-outline-success" (click)="handleSelectedUser(userSelected.value)">Seleccionar Usuario</button>
    </div>
</ng-template>

<!--Modal Nueva Lista-->
<ng-template #nuevaPlaylist let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Nueva Playlist: </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <input 
            type="text" 
            name="nombrePlaylist" 
            id="nombrePlaylist" 
            class="form-control"
            placeholder="Mix Regueton, Baladas, Salseo.."
            [(ngModel)]="tituloPlaylist"
        >
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Close click')">Cerrar</button>
        <button type="button" class="btn btn-outline-success" (click)="handleSavePlaylist()">Guardar Lista</button>
    </div>
</ng-template>