<div class="container">
  <div class="row mt-5">
    <h2 class="display-3">{{ titleDirectivaIf }}</h2>
    <h3>Registro Usuarios</h3>
    <form>
      <form class="mt-4">
        <div class="mb-3">
          <label for="firstName" class="form-label">Nombre:</label>
          <input
            type="text"
            name="firstName"
            id="firstName"
            class="form-control"
            [(ngModel)]="firstName"
          >
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Apellido:</label>
          <input
            type="text"
            name="lastName"
            id="lastName"
            class="form-control"
            [(ngModel)]="lastName"
          >
        </div>
        <div class="mb-3">
          <label for="cargo" class="form-label">Cargo:</label>
          <input
            type="text"
            name="cargo"
            id="cargo"
            class="form-control"
            [(ngModel)]="cargo"
          >
        </div>
        <button class="btn btn-outline-primary" (click)="signup()">Register</button>
      </form>
    </form>
    <br>
    <div
      class="alert alert-success"
      role="alert"
      *ngIf="( firstName != '' && lastName != ''  && registrado ); else sinRegistrar"
    >
      <!-- {{ success }} - <span [ngStyle]="{ fontWeight: ( cargo === 'Manager' ? 'bolder' : 400 ) }">Cargo: {{ cargo }}</span> -->
      {{ success }} - <span [ngClass]="{ managerRole: cargo === 'Manager',  allRole: cargo !== 'Manager'  }">Cargo: {{ cargo }}</span>
    </div>
    <ng-template #sinRegistrar>
      <p>
        Comienza Pre Registrandote
      </p>
    </ng-template>
  </div>
</div>
