<h2>Paises</h2>
<hr>
<ul class="list-group">
    <li 
        class="list-group-item"
        routerLinkActive="active"
        routerLink="home"
    >
        Home
    </li>
    <li 
        class="list-group-item"
        routerLinkActive="active"
        routerLink="about"
    >
        About
    </li>
    <li 
        class="list-group-item"
        routerLinkActive="active"
        routerLink="contact"
    >
        Contact
    </li>

    <li 
        class="list-group-item"
        routerLinkActive="active"
        routerLink="countries/by-country"
    >
        By Countries
    </li>
    <li 
        class="list-group-item"
        routerLinkActive="active"
        routerLink="countries/by-capital"
    >
        By Capitals
    </li>
    <li 
        class="list-group-item"
        routerLinkActive="active"
        routerLink="countries/by-region"
    >
        Regions
    </li>
</ul>