<div class="container">
  <div class="row mt-4">
    <h2 class="display-3 text-center">{{ title }}</h2>
    <div class="col text-center">
      <div class="card">
        <ul class="list-group list-group-flush" *ngFor="let empleado of empleados; let i = index">

          <!-- COMUNICACION DE PADRE A HIJO -->
          <app-empleadocomponentehijo  [empleadoItem]="empleado" [indiceEmpleado]="i + 1"></app-empleadocomponentehijo>

        </ul>
      </div>
    </div>
    <div class="col">
      <form class="mt-4">
        <div class="mb-3">
          <label for="nombreEmpleado" class="form-label">Nombre Empleado:</label>
          <input
            type="text"
            name="nombreEmpleado"
            id="nombreEmpleado"
            [(ngModel)]="nombreEmpleado"
            class="form-control"
          >
        </div>
        <div class="mb-3">
          <label for="apellidoEmpleado" class="form-label">Apellido Empleado:</label>
          <input
            type="text"
            name="apellidoEmpleado"
            id="apellidoEmpleado"
            [(ngModel)]="apellidoEmpleado"
            class="form-control"
          >
        </div>
        <div class="mb-3">
          <label for="cargoEmpleado" class="form-label">Cargo Empleado:</label>
          <input
            type="text"
            name="cargoEmpleado"
            id="cargoEmpleado"
            [(ngModel)]="cargoEmpleado"
            class="form-control"
          >
          <div class="mb-3">
            <label for="salarioEmpleado" class="form-label">Salario Empleado:</label>
            <input
              type="number"
              name="salarioEmpleado"
              id="salarioEmpleado"
              [(ngModel)]="salarioEmpleado"
              class="form-control"
            >
          </div>
        </div>
        <button (click)="handleAddEmpleado()" class="btn btn-outline-primary" type="submit">Guardar Empleado</button>
      </form>
    </div>
  </div>
</div>
